body {
    background-color: teal;
}

.title {
    text-align: center;
    color: #122525;
}

.card {
    background-color: #f1f3f5;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(0,0,0,0.16);
    margin: 0 auto;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display {
    background-color: #f1f3f5;
    box-shadow: inset 2px 3px 11px rgb(0,0,0,0.16), 5px 5px 12px #fff;
    height: 25%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content:space-between;
}

.display input {
    background-color: transparent;
    border: none;
    text-align: end;
    font-size: 30px;
    width: 90%;
    outline: none;
}

.buttons {
    height: 70%;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.btn-left {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: #f1f3f5;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(0,0,0,0.16);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: tomato;
}

.btn:hover {
    transform: scale(0.9);
}

.btn-right {
    width: 30%;
    border-radius: 20px;
    background-color: rgba(255, 229, 188, 0.671);
    box-shadow: inset 5px 5px 12px rgb(0,0,0,0.26),  5px 5px 12px #e6e3c3;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    text-align: center;
}
